
body{
    background-image: url(../images/Melamine-wood-001.png)
}

h1{
    font-family: 'Lobster', cursive;

}
.container-fluid{
    border-bottom: solid, 8px, white;
    margin: auto;
    font-size: 50px;
}
.col {
    width: 20px;
    padding: 10px;
    height: 300px; 
  }
  
 

  .img-responsive{
      width: 80%;
      height: 60%;
      padding-bottom: 35px;

  } 

  #underscores {
      letter-spacing: 6px;
      font-size: 40px;
  }



